
<button class="chatbot-toggler">
    <span class="material-symbols-outlined">mode_comment</span>
    <span class="material-symbols-outlined">close</span>
</button>

<div class="chatbot">
    <header>
        <h2>AI Assistant</h2>
        <span class="close-btn material-symbols-outlined">close</span>
    </header>
    <ul class="chatbox">
        <li class="chat incoming">
            <span class="material-symbols-outlined">smart_toy</span>
            <p>Hi there <br> How can I help you today?</p>
        </li>
        <li class="chat outgoing">
        </li>
    </ul>
    <div class="chat-input">
        <textarea placeholder="Enter a message..." id="userQuestion" required></textarea>
        <span id="send-btn" class="material-symbols-outlined">send</span>
    </div>
</div>









<!-- 
<div class="chatbot">
    <header>
        <h2>AI Assistant</h2>
        <span class="close-btn material-symbols-outlined">close</span>
    </header>
    <ul class="chatbox">
        <li class="chat incoming">
            <span class="material-symbols-outlined">smart_toy</span>
            <p>Hi there <br> How can I help you today?</p>
        </li>
        <li class="chat outgoing">
        </li>
    </ul>
    <div class="chat-input">
        <textarea placeholder="Enter a message..." required></textarea>
        <span id="send-btn" class="material-symbols-outlined">send</span>
    </div>
</div> -->
