<footer>
  <hr>
  <small>
    CST336 Internet Programming. 2024&copy; Frendl <br>
    <strong>Disclaimer: </strong>This webpage is used for academic purposes only.
  </small>

  <figure>
    <img src="/img/csumbLogo.png" alt="CSUMB logo">
  </figure>
</footer>

</body>
</html>