<body>
  <header>
    <h1>Pawsome Match</h1>
  </header>
  <hr>

  <nav>
    <a href="index.html">
      Welcome </a>
    <a href="allDogs.html">
      Breed Directory </a>
    <a href="requestAddition.html">
      Breed Request </a>
    <!-- <a href="filterDogs.html" class="filterDogs"> -->
      <!-- Breed Finder </a> -->
  </nav>
  <hr>
  <h3>
    Thank you for your submission! Check back soon for updates!
  </h3>