<%- include('partials/header.ejs') %>
    <div id="welcomeText">
      Thank you for visiting Pawsome Match!<br>Our goal is to help people find their ideal dog.<br>
      Please look at our breed directory page to learn about over 100 breeds!
    </div>
  </div>
  </section>

<%- include('partials/footer.ejs') %>