<%- include('partials/header.ejs') %>
    <div id="welcomeText">
      <h1>Welcome to Pawsome Match!</h1>
      <h4>
      Thank you for visiting us. Our mission is to educate people about various pet breeds and assist in finding adoptable pets in your area.<br> Whether you're looking to learn more about your favorite breed or ready to bring a new furry friend into your home, we're here to help every step of the way. <br> Happy exploring!<br> </h4>
    </div>
  </div>
  </section>

<%- include('partials/footer.ejs') %>