<%- include('partials/header.ejs') %>

  <body>
    <!-- Used TheDogAPI for this website -->
    <header>
      <h1>Pawsome Match</h1>
    </header>
    <hr>

    <nav>
      <a href="/" class="currentPage"> Welcome </a>
      <a href="/viewAllDogs"> Dogs </a>
      <a href="/aboutCats"> Cats </a>
      <!-- <a href="filterDogs.html" class="filterDogs"> -->
        <!-- Breed Finder </a> -->
    </nav>
    <hr>

    <div id="welcomeText">
      Thank you for visiting Pawsome Match!<br>Our goal is to help people find their ideal dog.<br>
      Please look at our breed directory page to learn about over 100 breeds!
    </div>

<%- include('partials/footer.ejs') %>