html {
  height: 100%;
  width: 100%;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
}

#websiteHeader {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
}


/* .background-img {
  position: relative;
} */

.background-img::after {
  /* Photo by <a href="https://unsplash.com/@alecfavale?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Alec Favale</a> on <a href="https://unsplash.com/photos/short-coated-white-and-brown-puppy-Ivzo69e18nk?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> */
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: url('/img/dogAndCat.jpg'); 
  background-size: cover;
  background-position: center;
}

body {
  color: #552C1C;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  background-repeat: no-repeat;
}

#welcomeText {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
}

h1 {
  color: #272D35;
  text-align: center;
}

h1 {
  font-size: 80px;
}
/* 
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
} */

/* a {
  text-decoration: none;
  color: #552C1C;
  font-size: 1.8em;
} */

#displayBreeds {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: space-evenly;
  height: 70vh;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
}

#photoPlaceholder {
  max-height: 600px;
  max-width: 600px;
}

.customSelect {
  font-family: "Quicksand", sans-serif;
}

#results {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 1000px;
  color: #B79E87;
}

#breedInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#breeds, #submitButton, input[type="text"] {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
}

/* nav a:hover, .currentPage {
  border-bottom: 2px #B79E87 solid;
  transition: .9s;
} */

footer {
  color: #BCB4CC;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
}

#nameTitle {
  font-size: 25px;
  color: #5C3A11;
}

#welcomeText {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-size: 30px;
  color: #B79E87;
}

select {
  width: 400px;
  height: 50px;
  font-size: 20px;
  margin-bottom: 40px;
  text-align: center;
  color: #272D35;
}

#credits {
  font-size: 7px;
}

h3 {
  color:#B79E87;
}

#inputError {
  color: red;
}