html, body {
  height: 100%;
}

footer {
  margin-top: 0px;
}

#logo{
  padding: 20px;
  max-width: 25%;
}

.nav-link {
  color: #FFF1EA;
}

body {
  margin: 0;
  color: #552C1C;
}


.collapse  {
  display: flex;
  align-items: center;
  justify-content: right;
  text-shadow: 3px 3px 2px black;
  font-size: 1.3em;
}

.dropdown-item {
  text-shadow: none;
}

#hero-text, h1, h3, h4, small, option, footer, select, #catBreeds, #breedName, .modal, h2, span, html, body, #breeds, #submitButton, input[type="text"] {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
}

.settingsForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: space-evenly;
  height: 70vh;
  flex: 1;
}

#photoPlaceholder {
  max-height: 600px;
  max-width: 600px;
}

#results {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100px;
  color: #B79E87;
}

#breedInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

footer {
  color: #FFF1EA;
  padding: 20px 0;
}

#nameTitle {
  font-size: 25px;
  color: #5C3A11;
}

select {
  width: 400px;
  height: 50px;
  font-size: 20px;
  margin-bottom: 40px;
  text-align: center;
  color: #272D35;
}

#credits {
  font-size: 7px;
}

h3 {
  color:#B79E87;
}

#inputError {
  color: red;
}

/* new since august 6 */
.chatbot {
  position: fixed;
  right: 40px;
  bottom: 100px;
  overflow:hidden;
  background: #FFF1EA;
  width: 420px;
  transform: scale(0.5);
  opacity: 0;
  pointer-events: none;
  border-radius: 15px;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48pb rgba(0,0,0,0.5);
  transition: all 0.1s ease;
  transform-origin: bottom right;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
}

.show-chatbot .chatbot {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}

.chatbot header {
  background: #06395C;
  padding: 16px 0;
  text-align: center;
  position: relative;
}

.chatbot header h2 {
  color: #FFF1EA;
  font-size: 1.4em;
}

.chatbot header span {
  position: absolute;
  right: 20px;
  top: 50%;
  color: #FFF1EA;
  cursor: pointer;
  display: none;
  transform: translateY(-50%);
}

.chatbot .chatbox {
  height: 510px;
  overflow-y: auto;
  padding: 30px 20px 100px;
}

.chatbox .chat {
  display: flex;
  color: #FFF1EA;
}

.chatbox .incoming span {
  height: 32px;
  width: 32px;
  background: #06395C;
  color: #FFF1EA;
  text-align: center;
  line-height: 32px;
  border-radius: 4px;
  margin: 0 10px 7px 0;
  align-self: flex-end;
}

.chatbox .outgoing {
  justify-content: flex-end;
  margin: 20px 0;
}

.icon {
  width: 28px;
  height: 28px;
}

.chatbox .chat p {
  background: #5D2B05;
  max-width: 75%;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  font-size: 0.95em;
  white-space: pre-wrap;  /* add space between <p> sections */
}

.chatbox .chat p.error {
  color: #721c24;
  background: #f8d7da;
}

.chatbox .incoming p {
  color: #FFF1EA;
  background: #06395C;
  border-radius: 10px 10px 10px 0;
}

.chatbot .chat-input {
  position: absolute;
  bottom: 0;
  display: flex;
  gap: 5px;
  width: 100%;
  background: #FFF1EA;
  padding: 5px 20px;
  border-top: 1px solid #06395C;
}

.chat-input textarea {
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 0.95em;
  resize: none;
  padding: 16px 15px 16px 0;
  max-height: 180px;
}

.chat-input span {
  color: #E5EFFF;
  font-size: 1.35em;
  cursor: pointer;
  background: #FFF1EA;
  align-self: flex-end;
  height: 55px;
  line-height: 55px;
  visibility: hidden;
}

.chat-input textarea:valid ~ span {
  visibility: visible;
}

.chatbot-toggler {
  position: fixed;
  right: 40px;
  bottom: 35px;
  height: 50px;
  width: 50px;
  color: #FFF1EA;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #06395C;
  border-radius: 50%;
  transition: all 0.2s ease;
}

#title {
  font-size: 8em;
}

.show-chatbot .chatbot-toggler {
  transform: rotate(90deg);
}

.chatbot-toggler span {
  position: absolute;
}

.show-chatbot .chatbot-toggler span:first-child,
.chatbot-toggler span:last-child {
  opacity: 0;  
}

.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}

@media(max-width: 490px) {
  .chatbot {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 00;
  }
  .chatbot .chatbox {
    height: 90%;
  }
  .chatbot header span {
    display: block;
  }
}

#sign-up-button, #login-button {
  background-color: #5E2904;
  color: #FFF1EA;
}

#sign-up-button:hover, #login-button:hover{
  background-color: #8d3f09;
}

#indexCatHeader, #indexDogHeader {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

#indexCatHeader h1, #indexDogHeader h1{
  font-size: 8em;
}

#indexCatHeader {
  background-image: url('/img/cats.jpg');
  background-position:  25% 30%;
}

#indexDogHeader {
  background-position:  25% 35%;
}

.breedContainer {
  border-style: solid;
  border-color: #d2d0d3;
}

/* scroll arrow  */
#down-arrow {
  font-size: 5em;
  font-weight: 100;
  animation: bouncingArrowAnimation 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}




@keyframes bouncingArrowAnimation {
  from {
    transform: translate3d(0,0,0);
  }
  to {
    transform: translate3d(0px, 15px, 0);
  }
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/img/dogAndCat.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:  #FFF5E5;
  text-shadow: 3px 3px 2px black;
}

#dogAndCatPhoto {
  position: relative;
}

#logoHeader {
  display: flex;
  justify-content: left;
  color:  #FFF5E5;
  text-shadow: 3px 3px 2px black;
}

#logoImg {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}

#logoHeader h3 {
  margin-top: auto;
  margin-bottom: auto;
}

#parent-animal-breed-box {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}



